@import "form.css";
@import "slider.css";
@import "home.css";
@import "navbar.css";
@import "dashboard.css";
@import "view.css";
@import "list.css";
@import "modal.css";

body {
  margin: 0;
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: #F7F9FB;
}

.Main {
  height: calc(100% - 70px);
  width: 100%;
}

.MuiBox-root {
  padding: 0;
  margin: 0;
}

.css-2o24zz {
  max-height: 580px;
  height: auto;
}

.header-text {
  font-weight: bold;
  margin-bottom: 5px;
  opacity: 0.9;
}

.flex-col {
  display: flex;
  flex-direction: column;
}