@import "navbar.css";
@import "form.css";
@import "dashboard.css";
@import "form.css";
@import "slider.css";
@import "home.css";
@import "navbar.css";
@import "dashboard.css";
@import "view.css";
@import "list.css";
@import "modal.css";

.App {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
