#navbar {
    height: 70px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

#navbar_container {
    display: flex;
    justify-content: space-between;
}

#navbar-mode-container {
    width: 350px;
    display: flex;
    justify-content: space-around;
}

#navbar-mode-container * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    cursor: pointer;
}

.navbar-tag {
    height: 35px;
    font-size: 14px;
}

#navbar-logo {
    height: 35px;
    margin-right: 15px;
}

#navbar-name {
    font-size: 24px;
    font-weight: bold;
    color: #007ee5;
}

#navbar-mode-select {
    opacity: 1.0;
}